flows (2).json
[{"id":"e6f1c71c.24fa28","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"81c1732e.5eb76","type":"inject","z":"e6f1c71c.24fa28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":168,"wires":[["70474754.221508"]]},{"id":"584f7687.96f4b8","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":100,"wires":[]},{"id":"70474754.221508","type":"http request","z":"e6f1c71c.24fa28","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":441,"y":168,"wires":[["cda324a.9754cd8","584f7687.96f4b8"]]},{"id":"cda324a.9754cd8","type":"function","z":"e6f1c71c.24fa28","name":"Prediction Input","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar job=global.get(\"job\");\nvar marital=global.get(\"marital\");\nvar education=global.get(\"education\");\nvar loanpred=global.get(\"loanpred\");\nvar balance=global.get(\"balance\");\nvar housing=global.get(\"housing\");\nvar loan=global.get(\"loan\");\nvar contact=global.get(\"contact\");\nvar month=global.get(\"month\");\nvar duration=global.get(\"duration\");\nvar campaign=global.get(\"campaign\");\nvar pdays=global.get(\"pdays\");\nvar previous=global.get(\"previous\");\nvar poutcome=global.get(\"poutcome\");\nmsg.payload={\"fields\":[\"age\",\"job\",\"marital\",\"education\",\"loanpred\",\"balance\",\"housing\",\"loan\",\"contact\",\"month\",\"duration\",\"campaign\",\"pdays\",\"previous\",\"poutcome\"],\"values\":[[age,job,marital,education,loanpred,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["d1cf215a.d304f","584f7687.96f4b8"]]},{"id":"d1cf215a.d304f","type":"http request","z":"e6f1c71c.24fa28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e1165a3f-abdb-4382-87a2-9b952d868bed/deployments/251e6e4e-6000-434e-8bd5-109f1b469b90/online","tls":"","proxy":"","authType":"basic","x":690,"y":280,"wires":[["63088f7c.d8dd1","584f7687.96f4b8"]]},{"id":"63088f7c.d8dd1","type":"function","z":"e6f1c71c.24fa28","name":"Json Parsing","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["584f7687.96f4b8","26004af6.132706"]]},{"id":"317b6908.47c146","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"job","label":"job","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"admin.","value":"admin.","type":"str"},{"label":"technician","value":"technician","type":"str"},{"label":"services","value":"services","type":"str"},{"label":"management","value":"management","type":"str"},{"label":"retired","value":"retired","type":"str"},{"label":"blue-collar","value":"blue-collar","type":"str"},{"label":"unemployed","value":"unemployed","type":"str"},{"label":"entrepreneur","value":"entrepreneur","type":"str"},{"label":"housemaid","value":"housemaid","type":"str"},{"label":"unknown","value":"unknown","type":"str"},{"label":"self-employed","value":"self-employed","type":"str"},{"label":"student","value":"student","type":"str"}],"payload":"","topic":"","x":110,"y":400,"wires":[["f1ea207e.1ffcb"]]},{"id":"ff99dd5b.d48a4","type":"ui_form","z":"e6f1c71c.24fa28","name":"Retail Banking","label":"","group":"8dc8eef8.0e555","order":2,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"balance","value":"balance","type":"number","required":true},{"label":"housing","value":"housing","type":"number","required":true},{"label":"loan","value":"loan","type":"number","required":true},{"label":"duration","value":"duration","type":"number","required":true},{"label":"campaign","value":"campaign","type":"number","required":true},{"label":"pdays","value":"pdays","type":"number","required":true},{"label":"previous","value":"previous","type":"number","required":true}],"formValue":{"age":"","balance":"","housing":"","loan":"","duration":"","campaign":"","pdays":"","previous":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":141,"y":328,"wires":[["ad76d746.5ce3e8"]]},{"id":"f1ea207e.1ffcb","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"admin.\"){\n global.set(\"job\",0);\n \n}\nelse if(msg.payload==\"technician\"){\n global.set(\"job\",1);\n \n}\nelse if(msg.payload==\"services\"){\n global.set(\"job\",2);\n \n}else if(msg.payload==\"management\"){\n global.set(\"job\",3);\n \n}else if(msg.payload==\"retired\"){\n global.set(\"job\",4);\n \n}else if(msg.payload==\"blue-collar\"){\n global.set(\"job\",5);\n \n}else if(msg.payload==\"unemployed\"){\n global.set(\"job\",6);\n \n}else if(msg.payload==\"entrepreneur\"){\n global.set(\"job\",7);\n\n}else if(msg.payload==\"housemaid\"){\n global.set(\"job\",8);\n \n}else if(msg.payload==\"unknown\"){\n global.set(\"job\",9);\n \n}else if(msg.payload==\"self-employed\"){\n global.set(\"job\",10);\n \n}else if(msg.payload==\"student\"){\n global.set(\"job\",11);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":428,"wires":[["ef39b6ff.13d758"]]},{"id":"ad76d746.5ce3e8","type":"function","z":"e6f1c71c.24fa28","name":"Input","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"36975a60-00f8-4041-ad21-3f6541d602d4\"\nvar password=\"7a0b398e-94e0-4689-a250-402cf68f6b4c\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age);\nglobal.set(\"balance\",msg.payload.balance);\nglobal.set(\"housing\",msg.payload.housing);\nglobal.set(\"loan\",msg.payload.loan);\nglobal.set(\"duration\",msg.payload.duration);\nglobal.set(\"campaign\",msg.payload.campaign);\nglobal.set(\"pdays\",msg.payload.pdays);\nglobal.set(\"previous\",msg.payload.previous);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":248,"wires":[["70474754.221508"]]},{"id":"26004af6.132706","type":"ui_text","z":"e6f1c71c.24fa28","group":"8dc8eef8.0e555","order":5,"width":0,"height":0,"name":"","label":"Deposit","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":480,"wires":[]},{"id":"780aefe7.8064d","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":520,"wires":[]},{"id":"4e0aa6a2.1965c8","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"marital","label":"marital","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"married","value":"married","type":"str"},{"label":"single","value":"single","type":"str"},{"label":"divorced","value":"divorced","type":"str"}],"payload":"","topic":"","x":110,"y":460,"wires":[["a9240245.cc984"]]},{"id":"5006a7c4.704c28","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"education","label":"education","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"secondary","value":"secondary","type":"str"},{"label":"tertiary","value":"tertiary","type":"str"},{"label":"primary","value":"primary","type":"str"},{"label":"unknown","value":"unknown","type":"str"}],"payload":"","topic":"","x":120,"y":520,"wires":[["f4224a94.6b21d8"]]},{"id":"e5c357f7.b8efa8","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"poutcome","label":"poutcome","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"unknown","value":"unknown","type":"str"},{"label":"other","value":"other","type":"str"},{"label":"failure","value":"failure","type":"str"},{"label":"success","value":"success","type":"str"}],"payload":"","topic":"","x":120,"y":560,"wires":[["79ca2ba5.84ba24"]]},{"id":"3423cb04.98a004","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"","label":"contact","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"unknown","value":"unknown","type":"str"},{"label":"cellular","value":"cellular","type":"str"},{"label":"telephone","value":"telephone","type":"str"}],"payload":"","topic":"","x":100,"y":620,"wires":[["901cf4bf.9e0558"]]},{"id":"74d8f74a.fb2d88","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"","label":"month","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"may","value":"may","type":"str"},{"label":"jun","value":"jun","type":"str"},{"label":"jul","value":"jul","type":"str"},{"label":"aug","value":"aug","type":"str"},{"label":"oct","value":"oct","type":"str"},{"label":"nov","value":"nov","type":"str"},{"label":"dec","value":"dec","type":"str"},{"label":"jan","value":"jan","type":"str"},{"label":"feb","value":"feb","type":"str"},{"label":"mar","value":"mar","type":"str"},{"label":"apr","value":"apr","type":"str"},{"label":"sep","value":"sep","type":"str"}],"payload":"","topic":"","x":110,"y":660,"wires":[["3ba9c8ce.23b378"]]},{"id":"a9240245.cc984","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"married\"){\n global.set(\"marital\",0);\n \n}\nelse if(msg.payload==\"single\"){\n global.set(\"marital\",1);\n \n}\nelse if(msg.payload==\"divorced\"){\n global.set(\"marital\",2);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[["7d92825f.138e7c"]]},{"id":"f4224a94.6b21d8","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"secondary\"){\n global.set(\"education\",0);\n \n}\nelse if(msg.payload==\"tertiary\"){\n global.set(\"education\",1);\n \n}\nelse if(msg.payload==\"primary\"){\n global.set(\"education\",2);\n \n}else if(msg.payload==\"unknown\"){\n global.set(\"education\",3);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["780aefe7.8064d"]]},{"id":"3ba9c8ce.23b378","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"may\"){\n global.set(\"month\",0);\n \n}\nelse if(msg.payload==\"jun\"){\n global.set(\"month\",1);\n \n}\nelse if(msg.payload==\"jul\"){\n global.set(\"month\",2);\n \n}else if(msg.payload==\"aug\"){\n global.set(\"month\",3);\n \n}else if(msg.payload==\"oct\"){\n global.set(\"month\",4);\n \n}else if(msg.payload==\"nov\"){\n global.set(\"month\",5);\n \n}else if(msg.payload==\"dec\"){\n global.set(\"month\",6);\n\n}else if(msg.payload==\"jan\"){\n global.set(\"month\",7);\n \n}else if(msg.payload==\"feb\"){\n global.set(\"month\",8);\n \n}else if(msg.payload==\"mar\"){\n global.set(\"month\",9);\n \n}else if(msg.payload==\"apr\"){\n global.set(\"month\",11);\n \n}else if(msg.payload==\"sep\"){\n global.set(\"month\",12);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":660,"wires":[["ca570e0f.855e9"]]},{"id":"901cf4bf.9e0558","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"unknown\"){\n global.set(\"contact\",0);\n \n}\nelse if(msg.payload==\"cellular\"){\n global.set(\"contact\",1);\n \n}\nelse if(msg.payload==\"telephone\"){\n global.set(\"contact\",2);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["e1683d60.e2c95"]]},{"id":"79ca2ba5.84ba24","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"unknown\"){\n global.set(\"poutcome\",0);\n \n}\nelse if(msg.payload==\"other\"){\n global.set(\"poutcome\",1);\n \n}\nelse if(msg.payload==\"failure\"){\n global.set(\"poutcome\",2);\n \n}else if(msg.payload==\"success\"){\n global.set(\"poutcome\",3);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["2c988f7d.3b4c9"]]},{"id":"fac24c02.d1ec5","type":"ui_dropdown","z":"e6f1c71c.24fa28","name":"loanpred","label":"loanpred","tooltip":"","place":"Select state","group":"8dc8eef8.0e555","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"no","value":"no","type":"str"},{"label":"yes","value":"yes","type":"str"}],"payload":"","topic":"","x":120,"y":720,"wires":[["566cb893.1f74d8"]]},{"id":"566cb893.1f74d8","type":"function","z":"e6f1c71c.24fa28","name":"State Selection","func":"if(msg.payload==\"no\"){\n global.set(\"loanpred\",0);\n \n}\nelse if(msg.payload==\"yes\"){\n global.set(\"loanpred\",1);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":748,"wires":[["f4c4b5c0.026238"]]},{"id":"ef39b6ff.13d758","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":420,"wires":[]},{"id":"7d92825f.138e7c","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":480,"wires":[]},{"id":"2c988f7d.3b4c9","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":560,"wires":[]},{"id":"e1683d60.e2c95","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":600,"wires":[]},{"id":"ca570e0f.855e9","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":660,"wires":[]},{"id":"f4c4b5c0.026238","type":"debug","z":"e6f1c71c.24fa28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":740,"wires":[]},{"id":"8dc8eef8.0e555","type":"ui_group","z":"","name":"ML Model","tab":"9af9aa0f.f1b568","order":1,"disp":true,"width":"6","collapse":false},{"id":"9af9aa0f.f1b568","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]